# Dynamic theme colors
{{THEME_CONFIG}}

# Shell
command = {{SHELL_PATH}}

# Font
font-family = "JetBrainsMono Nerd Font"
font-style = Regular
font-size = {{FONT_SIZE}}

# Window
window-padding-x = 14
window-padding-y = 14
confirm-close-surface=false
resize-overlay = never

# Cursor stlying
cursor-style = "block"
cursor-style-blink = false
shell-integration-features = no-cursor

# Keyboard bindings
keybind = f11=toggle_fullscreen
